<!DOCTYPE html>
<html>
    <%- partial('_partial/head') %>
<body>
    <div class="mdl-layout mdl-js-layout done">
        <%- partial('_partial/header') %>
        <main class="mdl-layout__content">
            <%- body %>
            <%- partial('_partial/footer') %>
        </main>
    </div>
    <%- partial('_partial/script') %>
</body>
</html>