<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio template that uses Material Design Lite.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <meta name="keywords" content="<%= config.keywords %>">
    <% if ((config.feed) && (config.feed.path.length)) { %>
    <link rel="alternate" type="application/atom+xml" title="<%= config.title %>" href="<%- url_for(config.feed.path) %>">
    <% } %>
    <title><%= config.title %></title>
    <link rel="icon" href="<%- url_for('/image/favicon.ico') %>">
    <link href="https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/material-design-lite/1.3.0/material.indigo-pink.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/foundation.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%- url_for('/style/done.css') %>" />
</head>