<!-- pagination -->
<nav class="pagination-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
    <% if (page.prev > 0 ) { %>
    <a href="<%= url_for(page.prev_link) %>" class="pagination-nav__button">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--grey mdl-color-text--white" role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
            <i class="material-icons">arrow_back</i>
            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
        </button>
    </a>
    <% } else { %>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--grey mdl-color-text--white" role="presentation" data-upgraded=",MaterialButton,MaterialRipple" disabled>
        <i class="material-icons">arrow_back</i>
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
    </button>
    <% } %>
    <div class="section-spacer">
        <nav class="mdl-navigation mdl-layout--large-screen-only">
            <%
            var pages = pagination('', page);
            %>
            <%
            pages.forEach(function (pageItem) {
                var linkStyle = 'mdl-color-text--grey';
                if (pageItem.isCurrent === true) {
                    linkStyle = 'mdl-button--accent';
                }
                if (pageItem.isLink === false) {
            %>
            <button class="mdl-navigation__link mdl-button mdl-js-button mdl-js-ripple-effect mdl-color-text--grey" disabled>
                <%= pageItem.text %>
            </button>
            <%
                } else {
            %>
            <a href="<%= url_for(pageItem.path) %>" class="pagination-nav__button">
                <button class="mdl-navigation__link mdl-button mdl-js-button mdl-js-ripple-effect <%= linkStyle %> ">
                    <%= pageItem.text %>
                </button>
            </a>
            <%
                }
            });
            %>
        </nav>

        <nav class="mdl-navigation mdl-layout--small-screen-only">
            <span class="pagination-nav__number mdl-color-text--grey"><%= page.current %></span>
        </nav>
    </div>
    <% if (page.next > 0 ) { %>
    <a href="<%= url_for(page.next_link) %>" class="pagination-nav__button">
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--grey mdl-color-text--white" role="presentation" data-upgraded=",MaterialButton,MaterialRipple">
            <i class="material-icons">arrow_forward</i>
            <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
        </button>
    </a>
    <% } else { %>
    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--grey mdl-color-text--white" role="presentation" data-upgraded=",MaterialButton,MaterialRipple" disabled>
        <i class="material-icons">arrow_forward</i>
        <span class="mdl-button__ripple-container"><span class="mdl-ripple"></span></span>
    </button>
    <% } %>
</nav>